@model PrograAvanzada.Models.historico_tarea

@{
    ViewBag.Title = "Delete";
}

<br> </br>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Borrar historial</h2>
    </div>
</div>

<h3>¿Seguro que desea borrar este historial?</h3>
<div>
    <h4>Historial de tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Observacion:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayName("Fecha del cambio: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_cambio)
        </dd>

        <dt>
            @Html.DisplayName("Usuario asignado: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayName("Tarea: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarea.observacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
