@model PrograAvanzada.Models.historico_tarea

@{
    ViewBag.Title = "Details";
}

<br> </br>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Detalle del historial de tarea</h2>
    </div>
</div>

<div>
    <h4>Historial de tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_cambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_cambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarea.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarea.observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_log }) |
    @Html.ActionLink("Atras", "Index")
</p>
