@model IEnumerable<PrograAvanzada.Models.historico_tarea>

@{
    ViewBag.Title = "Index";
}

<br> </br>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Historial de Tareas</h2>
    </div>
</div>

<p>
    @Html.ActionLink("Crear nuevo historial", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Observacion")
        </th>
        <th>
            @Html.DisplayName("Fecha del cambio")
        </th>
        <th>
            @Html.DisplayName("Usuario asignado")
        </th>
        <th>
            @Html.DisplayName("Codigo tarea")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_cambio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarea.observacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_log }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_log }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_log })
        </td>
    </tr>
}
</table>
