@model PrograAvanzada.Models.comentario_por_tarea

@{
    ViewBag.Title = "Delete";
}

<br> </br>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Eliminar comentario</h2>
    </div>
</div>

<h3>¿Esta seguro que desea borrar este comentario?</h3>
<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Comentario: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayName("Fecha del comentario: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_comentario)
        </dd>

        <dt>
            @Html.DisplayName("Usuario asignado: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayName("Observacion: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarea.observacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
