@model PrograAvanzada.Models.comentario_por_tarea

@{
    ViewBag.Title = "Details";
}

<br> </br>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Detalle de comentario</h2>
    </div>
</div>

<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarea.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarea.observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_comentario }) |
    @Html.ActionLink("Atras", "Index")
</p>
