@model IEnumerable<PrograAvanzada.Models.comentario_por_tarea>

@{
    ViewBag.Title = "Index";
}

<br> </br>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Comentarios por tarea</h2>
    </div>
</div>

<p>
    @Html.ActionLink("Crear nuevo comentario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Comentario")
        </th>
        <th>
            @Html.DisplayName("Fecha del comentario")
        </th>
        <th>
            @Html.DisplayName("Usuario asignado")
        </th>
        <th>
            @Html.DisplayName("Tarea")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarea.observacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_comentario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_comentario }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_comentario })
        </td>
    </tr>
}
</table>
