@model IEnumerable<PrograAvanzada.Models.comentarios_foro>

@{
    ViewBag.Title = "FullIndex";
}

<h2>Comentarios</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Numero de Foro")
        </th>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
            @Html.DisplayName("Comentado por")
        </th>
        <th>
            @Html.DisplayName("Comentario")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.foro.id_foro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_comentario_foro }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_comentario_foro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_comentario_foro })
        </td>
    </tr>
}

</table>
