<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">
                    <img style="height: 25px;"
                         src="~/Content/Resource/icono.jpg" /><br />
                </a>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    @*@if (!(User.IsInRole("Analistas") || User.IsInRole("Desarrolladores")))
                    {*@
                        <li>@Html.ActionLink(" Proyectos", "Index", "proyecto", null, new { @class = "active glyphicon glyphicon-folder-open" })</li>
                    @*}*@



                    @*@if (User.IsInRole("Administrador de Proyectos"))
                    {*@
                        <li>@Html.ActionLink(" Usuarios", "Index", "AspNetUserRoles", null, new { @class = "active glyphicon glyphicon-user" })</li>
                    @*}*@

                    <li>@Html.ActionLink(" Tareas", "Index", "Tareas", null, new { @class = "active glyphicon glyphicon-th-list" })</li>
                    <li>@Html.ActionLink(" Comentarios de Tareas", "Index", "comentario_por_tarea", null, new { @class = "active glyphicon glyphicon-th-list" })</li>
                    <li>@Html.ActionLink(" Historico Tarea", "Index", "historico_tarea", null, new { @class = "active glyphicon glyphicon-th-list" })</li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <style>
        /* Add a dark background color to the footer */
        footer {
            background-color: #27B84C;
            color: #f5f5f5;
            padding: 32px;
        }

            footer a {
                color: #f5f5f5;
            }

                footer a:hover {
                    color: #777;
                    text-decoration: none;
                }
    </style>

    <div class="navbar navbar-fixed-bottom">
        <footer class="text-center">
            <br><br>
            <p>Proyecto de Programacion Avanzada, desarrollado por: Mena Granados Oscar, Picado Arguedas Jose Alberto, Rojas Umaña Jesus</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
