@model PrograAvanzada.Models.proyecto

@{
    ViewBag.Title = "Details";
}

<br> </br>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Detalles</h2>
    </div>
</div>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_proyecto }) |
    @Html.ActionLink("Atras", "Index")
</p>
