@model IEnumerable<PrograAvanzada.Models.proyecto>

@{
    ViewBag.Title = "Proyectos";
}



<ul class="nav nav-tabs span2 clearfix">

    <br> </br>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Proyectos</h2>
        </div>
    </div>

    <p>
        @Html.ActionLink("Crear Nuevo Proyecto", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nombre del Proyecto")
            </th>
            <th>
                @Html.DisplayName("Descripcion")
            </th>
            <th>
                @Html.DisplayName("Correo Electronico")
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_proyecto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado.descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_proyecto }) |
                    @Html.ActionLink("Ver Tareas", "Ver", new { id = item.id_proyecto})
        </td>
        </tr>
        }

        </table>
