@model PrograAvanzada.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Usa Servidores Externos para Acceder...</h4>
<hr />
@{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        if (loginProviders.Count() == 0) {
            <div>
                <p>
                    Elejí el servicio externo de Redes que poseas para Acceder a la Applicacion.
                </p>
            </div>
        }
        else {
            using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        @foreach (AuthenticationDescription p in loginProviders) {
                            <button type="submit" class="btn btn-info" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                        }
                    </p>
                </div>
            }
        }
    }