@{
    ViewBag.Title = "Index";
    ViewBag.numero = "1";

}

<script type="text/javascript" src="~/Scripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
$(function () {
    $('#f5').click(function () {
        $("#myPartialViewContainerComentarios").load('http://localhost:2005/comentarios_foro/FullIndex')
    });
});
</script>

<script type="text/javascript" src="~/Scripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
$(function () {
    $('#nuevo').click(function () {
        $("#myPartialViewContainerCreate").load('http://localhost:2005/comentarios_foro/Create')
    });
});
</script>


<h2>Nombre del Foro</h2>
@Html.Action("Index","foro")

<div>
    <div id="myPartialViewContainerComentarios">
        <h2>Comentarios</h2>
        @Html.Action("Index", "comentarios_foro", new { codForo = 1 })
    </div>
</div>

<button id="f5" class="btn-primary">Actualizar Comentarios</button>
<button id="nuevo" class="btn-warning">Otro Comentario</button>

<div>
    <div id="myPartialViewContainerCreate">
        <h2>Agregar Comentario</h2>
            @Html.Action("Create", "comentarios_foro", null)
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
